<div class="app-header-content">
    <mat-tab-group>
        <mat-tab label="Дзвінки">
            <div class="main-content">
                <app-all-information></app-all-information>
            </div>
        </mat-tab>
        <mat-tab label="Інформація">
            <div class="main-content">
                <h1>Інформація</h1>
            </div>
        </mat-tab>
        <mat-tab label="Типи оцінок">
            <div class="main-content">
                <h1>Типи оцінок</h1>
            </div>
        </mat-tab>
        <mat-tab label="Адміністрування системи">
            <div class="main-content">
                <h1>Система оцінювання</h1>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>