<div class="app-header-content">
    <mat-tab-group>
        <mat-tab label="Загальна інформація">
            <div class="main-content">
                <app-all-information></app-all-information>
            </div>
        </mat-tab>
        <mat-tab label="Предмети">
            <div class="main-content">
                <h1>Предмети</h1>
            </div>
        </mat-tab>
        <mat-tab label="Аудиторії">
            <div class="main-content">
                <h1>Аудиторії</h1>
            </div>
        </mat-tab>
        <mat-tab label="Адміністрування системи">
            <div class="main-content">
                <h1>Адміністрування системи</h1>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>