<!-- <mat-toolbar color="primary">
    <mat-toolbar-row> -->
        <!-- [routerLink]="['/dashboard']" -->
        <!-- <div class="logo">
        </div> -->
        <!-- [routerLink]="['/dashboard']" -->
        <!-- <button mat-button>Інформація</button>
        <button mat-button>Предмети</button>
        <button mat-button>Аудиторії</button>
        <button mat-button>Адміністрування системи</button> -->
        <!-- <span class="space"></span> -->
        <!-- [routerLink]="['/log-in']" -->
        <!-- <button mat-button>Log In</button> -->
    <!-- </mat-toolbar-row>
</mat-toolbar> -->
<!-- <app-side-menu [@slideInOut]="menuState" (onToogle)="toggleMenu()"></app-side-menu> -->

<div class="app-component">
    <div class="app-menu">
        <div class="logo">
        </div>
        <p>Профіль школи</p>
        <p>Навчальний рік</p>
        <p>Вчителі</p>
        <p>Класи</p>
        <p>Учні</p>
        <p>Календарний план</p>
        <p>Розклади</p>
        <p>Архіви</p>
    </div>
    <div class="app-content">
        <div class="app-header-content">
            <mat-tab-group>
                <mat-tab label="One">
                    <h1>Some tab content</h1>
                    <p>...</p>
                </mat-tab>
                <mat-tab label="Two">
                    <h1>Some more tab content</h1>
                    <p>...</p>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="app-main-content">
            <mat-tab-group>
                <div class="logo">
                </div>
                <mat-tab label="One">
                    <h1>Some tab content</h1>
                    <p>...</p>
                </mat-tab>
                <mat-tab label="Two">
                    <h1>Some more tab content</h1>
                    <p>...</p>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>