@media all and (max-width: 860px) {
    
}
@media all and (max-width: 450px) {

}
app-content {
    width: 100%;
}
.app-component {
    display: flex;
    flex-direction: row;
}
.app-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.9em;
    p {
        padding: 0px 5px;
    }
    .logo {
        width: 50px;
        border-radius: 25px;
        height: 50px;
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0 0 1em 0;
    }
    .mat-expansion-panel-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 24px;
    }
    mat-expansion-panel p{
        cursor: pointer;
    }
    mat-expansion-panel p:hover{
    }
} 
