<div>
    <div class="create-button">
        <button mat-raised-button (click)="toggleMenu()">        
            Додати розклад
        </button>
    </div>
    <mat-tab-group *ngIf="scheduleService.schedule.length">
        <mat-tab *ngFor="let schedule of scheduleService.schedule">
                <ng-template mat-tab-label>
                    {{schedule.name}}
                </ng-template>
                <div class="app-schedule">
                    <app-schedule *ngFor="let lessons of schedule.lessonsForClasses" [lessonContainer]="lessons"></app-schedule>
                </div>
        </mat-tab>
    </mat-tab-group>
</div>
<app-menu-side [@slideInOut]="menuState" (onToogle)="toggleMenu()"></app-menu-side>