@media all and (max-width: 860px) {
    
}
@media all and (max-width: 450px) {

}
.mat-list {
    padding-top: 36px;
}
.create-button {
    margin-bottom: 10px;
}
.app-schedule {
    display: flex;
    flex-direction: row;
    .schedule {
        margin: 1em;
    }
}
app-menu-side {
    overflow-y: scroll;
}