@media all and (max-width: 860px) {
    
}
@media all and (max-width: 450px) {

}
.app-all-information {
    display: flex;
    flex-direction: row;
}
.mat-list {
    padding-top: 36px;
}
.header {
    display: flex;
    flex-direction: row;
}
app-menu-side {
    overflow-y: scroll;
}